body {
  text-align: center;
  background-color: #011F3F;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}
h2{
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin:  5%;
  color: #FEF2BF;

}
h3{  font-family: 'Press Start 2P', cursive;
  font-size: 0.5rem;
  margin:  5%;
  color: #FEF2BF;

}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 25px;
  border: none;
  background-color:  #FEF2BF;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
}

/* Hover effect */
.button:hover {
  background-color: #fff; /* Button color on hover */
  transform: scale(1.05); /* Slight scale-up animation on hover */
}

/* Click effect */
.button:active {
  transform: scale(0.95); /* Slight scale-down animation on click */
}
/* leaderboard.css (separate CSS file) */
#leaderboard ul {
  list-style: none; /* Remove bullet points */
  padding: 0;
}

#leaderboard li {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
}
.HomeBody,.leaderboardBody{
  background-image: url('https://c4.wallpaperflare.com/wallpaper/730/916/839/stripes-vertical-lines-colorful-wallpaper-preview.jpg');
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
